<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<style type="text/css">
  #container h1 {
    margin: 0px;
    font-size: 18px;
    line-height: 2em;
  }
  #container h2 {
    margin: 20px 0px 10px;
    text-align: center;
  }
  #container h3 {
    padding: 8px 0px;
    margin: 10px 0px;
    border: 1px solid #666;
    font-size: 18px;
    text-align: center;
  }
  #container section {
    padding: 10px 10px 30px;
  }
  #container section:nth-child(2n) {
    background: #212121;
    color: #FFF;
  }
  #container strong {
    font-size: 1.2em;
  }
  #container section:nth-child(2n-1) strong {
    color: #E91E63;
  }
  #container section:nth-child(2n) strong {
    color: #FFEE58;
  }
  #header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgba(255,255,255,.8);
    box-shadow: 0px 1px 3px rgba(0,0,0,.5);
    z-index: 3;
  }
  #header .menu-item {
    padding: 0px;
    text-align: center;
  }
  #header .menu-link {
    padding: 8px 0px;
    display: block;
    cursor: pointer;
    transition: all .5s 0s ease;
  }
  #header .menu-link:hover {
    background: #EEE;
    text-decoration: none;
  }
  .menu-icon {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 25px;
  }
  #firstview {
    position: relative;
  }
  #firstview-image {
    max-height: 600px;
  }
  #firstview .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    color: #FFF;
  }
  #firstview .content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 55%;
    margin: auto;
    text-align: center;
  }
  #firstview .version {
    margin: 0px;
    font-size: 18px;
    text-decoration: underline;
  }
  #firstview .title {
    margin: 0px;
    font-size: 60px;
  }
  #firstview .copy {
    margin: 0px;
    font-size: 36px;
  }
  .registration-btn {
    padding: 8px 0px;
    margin: 0px auto;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 3px;
    background: #3b5998;
    color: #FFF;
    font-size: 24px;
    text-align: center;
    display: block;
    transition: all .3s 0s ease;
  }
  .registration-btn:hover {
    color: #FFF;
    background: #27417A;
    text-decoration: none;
  }
  #firstview .registration-btn {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 50%;
  }
  #statement .registration-btn {
    width: 80%;
    margin: 40px auto 20px;
  }
  #container .description {
    margin: 10px 0px;
  }
  #container .description p {
    margin: 0px;
  }
  .contentBox {
    width: 80%;
    margin: 0px auto;
    font-size: 18px;
    text-indent: .5em;
  }
  .copyright {
    margin: 10px;
    text-align: right;
  }
  @media screen and (max-width: 767px){
    .menu-item {
      display: none;
    }
    #firstview .content {
      top: 36px;
      height: 68%;
    }
    #firstview .title {
      font-size: 30px;
    }
    #firstview .copy {
      font-size: 16px;
    }
    #firstview .registration-btn {
      width: 70%;
      font-size: 18px;
    }
    .contentBox {
      width: 100%;
    }
  }
</style>

<div id="container" class="container-fluid">
  <header id="header">
    <div class="logo col-sm-4">
      <h1>Social Action Initiatives</h1>
    </div>
    <div class="col-sm-2 menu-item">
      <a href="#" data-link="function" class="menu-link">機能</a>
    </div>
    <div class="col-sm-2 menu-item">
      <a href="#" data-link="feature" class="menu-link">特徴</a>
    </div>
    <div class="col-sm-2 menu-item">
      <a href="#" data-link="security" class="menu-link">安心の理由</a>
    </div>
    <div class="col-sm-2 menu-item">
      <a href="#" data-link="statement" class="menu-link">声明</a>
    </div>
    <div class="visible-xs menu-icon">
      <i class="icon ion-navicon-round"></i>
    </div>
  </header>
  <div id="firstview" class="row">
    <img src="<%= cdn_image("/general/top.jpg") %>" id="firstview-image" width="100%" />
    <div class="overlay">
      <div class="content">
        <p class="version">2017年衆議院総選挙版</p>
        <p class="title">Social Action Initiatives</p>
        <p class="copy">「知りたい」から「決める」までを<br />支援するプラットフォーム</p>
        <a href="/users/auth/facebook" class="registration-btn">Facebookで参加</a>
      </div>
    </div>
  </div>
  <section id="function" class="row">
    <div class="col-sm-12">
      <h2>機能</h2>
      <div class="row">
        <div class="col-sm-4">
          <h3>質問できる</h3>
          <img src="<%= cdn_image("/general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>ユーザーが各政党の政策について質問を投稿することができます。また質問に対しては、他のユーザーがオープンにコメントで回答できます。</p>
            <p>多くの人の質問を見れば、他の人々がどのような領域にどのような理由で関心を持っているかが分かり、参考になるでしょう。</p>
          </div>
        </div>

        <div class="col-sm-4">
          <h3>解説できる</h3>
          <img src="<%= cdn_image("/general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>様々な政党の政策について検討している訪問者に対して、自分が分かる分野について解説することができます。</p>
            <p>選挙はあなた1人の1票だけでは変わりません。1人でも多くの相手を説得し、10人の10票、100人の100票と団結して政治に対する権利を行使しましょう。</p>
          </div>
        </div>

        <div class="col-sm-4">
          <h3>議論できる</h3>
          <img src="<%= cdn_image("/general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>また各政党の政策について支持や不支持の理由を表明することで、自分が支持する政策の重要性を解説することができるだけでなく、同じ政党・政策に対して不支持の人から理由を聞くことで、異なる意見と出会うことができます。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="feature" class="row">
    <div class="col-sm-12">
      <h2>特徴</h2>
      <div class="row">
        <div class="col-sm-4">
          <h3>政策ベースで議論</h3>
          <img src="<%= cdn_image("/general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>本サイトではあくまで「政策」に注目して質問や議論を展開します。全ての投稿は「政党」と「政策領域」を指定した上で「質問・解説・支持・批判」という立場で行います。</p>
            <p>不倫や賄賂など、様々な疑惑は確かに投票先を決める際の1つの参考になるかもしれませんが、このサイトでは扱いません。それらの要素が含まれる投稿は削除されることがあります。</p>
          </div>
        </div>

        <div class="col-sm-4">
          <h3>説得を目的に議論</h3>
          <img src="<%= cdn_image("/general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>本サイトでの議論は、あくまで相手の論理的な説得を目的に行います。自らの知識を開陳して相手を嘲ったり、異なる考え方を持つ相手を悪徳と糾弾することを目的としてはいけません。</p>
            <p>投票権は知識の多寡に関わらず、全員が1票ずつ持っています。相手を貶めるのではなく仲間にするという姿勢で、丁寧かつ誠実に議論しましょう。</p>
          </div>
        </div>

        <div class="col-sm-4">
          <h3>立場の変更を恐れない</h3>
          <img src="<%= cdn_image("/general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>「政治的中立（ノンポリ）」を掲げることが美徳とされる雰囲気がありますが、本サイトでは、一時的・暫定的であっても、何らかの立場に立って発言・議論する姿勢を推奨しています。</p>
            <p>議論の中で相手の言い分に納得し、認識や価値観が変わったならば、柔軟に立場を変えていけば良いのです。積極的に質問や議論に参加しましょう。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="security" class="row">
    <div class="col-sm-12">
      <h2>安心の理由</h2>
      <div class="row">
        <div class="col-sm-4">
          <h3>本人認証を徹底</h3>
          <img src="<%= cdn_image("/general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>Facebookの認証機能を用いて、なりすましを防ぎます。</p>
            <p>問題のあるユーザーのアカウントが凍結された場合、運営側はFacebookのアカウントに紐付いて管理しているため、再度の侵入は困難です。</p>
          </div>
        </div>

        <div class="col-sm-4">
          <h3>プライバシー保護</h3>
          <img src="<%= cdn_image("/general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>もちろん他のユーザーから自分のFacebookアカウントが見えるようなことはありません。</p>
            <p>また、ユーザー本人の許可なくSNSへ勝手に投稿することもありません。</p>
          </div>
        </div>

        <div class="col-sm-4">
          <h3>管理者による監視</h3>
          <img src="<%= cdn_image("/general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>本サイトは開発者・管理者の判断に基づき、言葉遣いが汚い投稿や他者を不快にさせる行動をするユーザーなど、利用が不適切と判断されるアカウントを発見した場合、投稿の削除やアカウントの凍結等の措置を講じます。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="statement" class="row">
    <div class="col-sm-12">
      <h2>声明</h2>
      <div class="contentBox">
        <p>よく「若者の投票率が低いから若者向けの政策が議題に上がらない。投票率を上げなければならない。」と言われます。芸能人までも含めて、多くの人がこの論調に乗り、「投票することはいいことだ」「投票に行かないと公言する人は論破できる」などと豪語する始末です。しかし、本当にそうなのでしょうか？僕には、とてもそうとは思えません。</p>
        <p>高齢者向けの政策が多いことは事実ですし、そういった政策を掲げることが得票に繋がることもまた事実だと思います。しかし、それは高齢化社会において、そういった政策を必要としている人が多いからそうなっている、というだけ話でもあります。</p>
        <p>さらに「若者向けの政策」と言っても、それは一体どのような政策なのでしょうか？「若者」の中にも、ベンチャー企業の経営者やニート、農村に住む人や都市に住む人、未婚者や子育て中の人、派遣社員やシングルマザー、大黒柱を目指す人やセクシャルマイノリティの人など、多様な人々が含まれます。そういった人々をひとまとめに「若者」と言う人は、そうすることで自分の期待する政策を応援する仲間に組み入れようとしているだけなのではないかと思います。</p>
        <p>ある人の政治的立場は、その人が「若者」であるかどうかだけでなく、より広く、どのような社会的属性を持つかに依存します。そうした時、「若者」の中だけでまとまろうとするのではなく、自分と近い利害関係を持つ仲間を見つけ、さらに説得により仲間を増やしていく必要があります。</p>
        <p>「あなたの1票で政治は変わる」なんて綺麗事は、大嘘です。あなたの1票だけでは決して社会は動きません。しかし、同じ利害関係を持つ者同士で団結して、100人の100票、1,000人の1,000票を同じ候補者に対して投じれば、それは社会を動かす力になります。何より、その票を欲しがる候補者を相手に、自分たちの求める政策の実現を要求することができます。</p>
        <p>本サイト「Social Action Initiatives」は、まさにそうした「説得と団結」のプラットフォームを目指しています。「政治についてはまだよく分からないけれど、関心はある。どの候補に投票すべきか考えたい。」という方の初動から、「自分が求める政策を政治に要求するためのチームに参加する」までを支援する。それがSocial Action Initiativesの存在意義です。</p>
      </div>
      <a href="/users/auth/facebook" class="registration-btn">Facebookで参加</a>
    </div>
  </section>
  <footer id="footer">
    <p class="copyright">Copyright 2017 by <a href="https://twitter.com/midwhite/" target="_blank">@midwhite</a></p>
  </footer>
</div>

<script type="text/javascript">
  $(".menu-icon").click(function(){
    $(".menu-item").slideToggle();
  });
  $(".menu-link").click(function(e){
    e.preventDefault();
    // 自動スクロール
    var position = $(document.getElementById(e.target.dataset.link)).offset();
    $("html,body").animate({ scrollTop: position.top }, 500);
    // メニューの開閉
    if(window.innerWidth <= 767){
      $(".menu-item").slideUp();
    }
  });
</script>