<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<style type="text/css">
  #container h1 {
    margin: 0px;
    font-size: 18px;
    line-height: 2em;
  }
  #container h2 {
    margin: 20px 0px 10px;
    text-align: center;
  }
  #container h3 {
    padding: 8px 0px;
    margin: 10px 0px;
    border: 1px solid #666;
    font-size: 18px;
    text-align: center;
  }
  #container section {
    padding: 10px 10px 30px;
  }
  #container section:nth-child(2n) {
    background: #212121;
    color: #FFF;
  }
  #header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgba(255,255,255,.8);
    box-shadow: 0px 1px 3px rgba(0,0,0,.5);
    z-index: 3;
  }
  #header .menu-item {
    padding: 0px;
    text-align: center;
  }
  #header .menu-link {
    padding: 8px 0px;
    display: block;
    cursor: pointer;
    transition: all .5s 0s ease;
  }
  #header .menu-link:hover {
    background: #EEE;
    text-decoration: none;
  }
  .menu-icon {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 25px;
  }
  #firstview {
    position: relative;
  }
  #firstview-image {
    max-height: 600px;
  }
  #firstview .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    color: #FFF;
  }
  #firstview .content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 55%;
    margin: auto;
    text-align: center;
  }
  #firstview .version {
    margin: 0px;
    font-size: 18px;
    text-decoration: underline;
  }
  #firstview .title {
    margin: 0px;
    font-size: 60px;
  }
  #firstview .copy {
    margin: 0px;
    font-size: 36px;
  }
  .registration-btn {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 50%;
    padding: 8px 0px;
    margin: 0px auto;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 3px;
    background: #3b5998;
    color: #FFF;
    font-size: 24px;
    text-align: center;
    display: block;
    transition: all .3s 0s ease;
  }
  .registration-btn:hover {
    color: #FFF;
    background: #27417A;
    text-decoration: none;
  }
  #container .description {
    margin: 10px 0px;
  }
  #container .description p {
    margin: 0px;
  }
  .contentBox {
    width: 80%;
    margin: 0px auto;
  }
  .copyright {
    margin: 10px;
    text-align: right;
  }
  @media screen and (max-width: 767px){
    .menu-item {
      display: none;
    }
    #firstview .content {
      top: 36px;
      height: 68%;
    }
    #firstview .title {
      font-size: 30px;
    }
    #firstview .copy {
      font-size: 16px;
    }
    #firstview .registration-btn {
      width: 70%;
      font-size: 18px;
    }
    .contentBox {
      width: 100%;
    }
  }
</style>

<div id="container" class="container-fluid">
  <header id="header">
    <div class="logo col-sm-4">
      <h1>Social Action Initiatives</h1>
    </div>
    <div class="col-sm-2 menu-item">
      <a href="#" data-link="function" class="menu-link">機能</a>
    </div>
    <div class="col-sm-2 menu-item">
      <a href="#" data-link="feature" class="menu-link">特徴</a>
    </div>
    <div class="col-sm-2 menu-item">
      <a href="#" data-link="security" class="menu-link">安心の理由</a>
    </div>
    <div class="col-sm-2 menu-item">
      <a href="#" data-link="term" class="menu-link">利用規約</a>
    </div>
    <div class="visible-xs menu-icon">
      <i class="icon ion-navicon-round"></i>
    </div>
  </header>
  <div id="firstview" class="row">
    <img src="<%= asset_path("general/top.jpg") %>" id="firstview-image" width="100%" />
    <div class="overlay">
      <div class="content">
        <p class="version">2017年衆議院総選挙版</p>
        <p class="title">Social Action Initiatives</p>
        <p class="copy">「知らない」から「決める」までを<br />支援するプラットフォーム</p>
        <a href="/users/auth/facebook" class="registration-btn">Facebookで認証</a>
      </div>
    </div>
  </div>
  <section id="function" class="row">
    <div class="col-sm-12">
      <h2>機能</h2>
      <div class="row">
        <div class="col-sm-4">
          <h3>質問できる</h3>
          <img src="<%= asset_path("general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>ユーザーが各政党の政策について質問を投稿することができます。また質問に対して、誰でもオープンにコメントで回答することができます。</p>
          </div>
        </div>

        <div class="col-sm-4">
          <h3>解説できる</h3>
          <img src="<%= asset_path("general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>様々な政党の政策について検討しているユーザーに対して、自分が分かる分野について解説することができます。</p>
            <p>選挙は自分1人の1票などでは変わりません。1人でも多くの相手を説得し、10人の10票、100人の100票と団結して政治に対する権利を行使しましょう。</p>
          </div>
        </div>

        <div class="col-sm-4">
          <h3>議論できる</h3>
          <img src="<%= asset_path("general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>また各政党の政策について支持や不支持の理由を表明することで、自分が支持する政策の重要性を解説することができるだけでなく、同じ政党・政策に対して不支持の人から理由を聞くことで、異なる意見と出会うことができます。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="feature" class="row">
    <div class="col-sm-12">
      <h2>特徴</h2>
      <div class="row">
        <div class="col-sm-4">
          <h3>政策ベースで議論</h3>
          <img src="<%= asset_path("general/top.jpg") %>" width="100%" />
        </div>
        <div class="col-sm-4">
          <h3>価値中立ベースで議論</h3>
          <img src="<%= asset_path("general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>議論はあくまで「価値中立的」に行います。政治的な判断は当人の正誤・善悪に基づくのではなく、最終的には「共感する／反発する」の違いしかありません。</p>
            <p>従って、「相手が間違っている、悪徳な思想に基づいている」と決め付けるのではなく、なぜ自分と相手にその判断の違いが生まれるのかを遡って考えて「説得する」という姿勢で議論してください。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="security" class="row">
    <div class="col-sm-12">
      <h2>安心の理由</h2>
      <div class="row">
        <div class="col-sm-4">
          <h3>本人認証を徹底</h3>
          <img src="<%= asset_path("general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>Facebookの認証機能を用いて、なりすましを防ぎます。</p>
            <p>問題のあるユーザーのアカウントが凍結された場合、運営側はFacebookのアカウントに紐付いて管理しているため、再度の侵入は困難です。</p>
          </div>
        </div>

        <div class="col-sm-4">
          <h3>プライバシー保護</h3>
          <img src="<%= asset_path("general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>もちろん他のユーザーから自分のFacebookアカウントが見えるようなことはありません。</p>
            <p>また、ユーザー本人の許可なくSNSへ勝手に投稿することもありません。</p>
          </div>
        </div>

        <div class="col-sm-4">
          <h3>管理者による監視</h3>
          <img src="<%= asset_path("general/top.jpg") %>" width="100%" />
          <div class="description">
            <p>本サイトは開発者・管理者である <a href="https://twitter.com/midwhite/" target="_blank">@midwhite</a> の独善と偏見と信頼に基づいて運営方針を決定します。言葉遣いが汚い投稿や他者を不快にさせる投稿・行動をするユーザーのアカウントを発見した場合、即凍結します。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="term" class="row">
    <div class="col-sm-12">
      <h2>利用規約</h2>
      <div class="contentBox">
        <p>一、政治に万人にとっての正解はありません。自分にとっての正解が必ずしも相手にとっての正解ではないことを理解した上で、相手が意見を持つに至った背景や基準を考えながら、丁寧に誠実に議論してください。</p>
        <p>二、政治的な議論は、時に熱くなり、相手を傷つけがちです。ユーザーが他のユーザーを不快にさせる、傷つける言動や行動を取っている場合、管理者の判断に基づき、投稿の削除やアカウントの凍結、場合によっては法的措置を講じることがあります。</p>
      </div>
    </div>
  </section>
  <footer id="footer">
    <p class="copyright">Copyright 2017 by <a href="https://twitter.com/midwhite/" target="_blank">@midwhite</a></p>
  </footer>
</div>

<script type="text/javascript">
  $(".menu-icon").click(function(){
    $(".menu-item").slideToggle();
  });
  $(".menu-link").click(function(e){
    e.preventDefault();
    // 自動スクロール
    var position = $(document.getElementById(e.target.dataset.link)).offset();
    $("html,body").animate({ scrollTop: position.top }, 500);
    // メニューの開閉
    if(window.innerWidth <= 767){
      $(".menu-item").slideUp();
    }
  });
</script>